#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  height: 100%;
  width: 100%;
  min-height: 320px;
  max-width: 60vw;
  max-height: 50vh;
  border: 1px solid black;
  align-items: center;
  position: relative;
}

.center-area {
  text-align: center;
  align-self: center;
  min-width: 20vw;
}

.hand {
  display: flex;
  flex-direction: column;
  /* max-width: 40vw; */
}

.hand.player > h2 {
  align-self: end;
}

.card-list {
  display: flex;
  flex-direction: row-reverse;
  max-width: 40vw;
}

.card-list.player {
}

.card-list.opponent {
  direction: rtl;
}

.card-list-item {
}

.card-list-item.player {
  margin-left: calc(2vw - 140px);
  /* box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px; */
}

.card-list-item.opponent {
  margin-right: calc(2vw - 140px);
  direction: ltr;
  /* box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px; */
}

.play-button {
  width: 80px;
  height: 40px;
  align-self: center;
  font-size: larger;
  font-weight: bold;
}

.Card {
  width: 120px;
  height: 200px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #a58568;
  overflow: hidden;
}

.Card.back {
  background-color: #f1efe2;
}

.stat-list {
  padding: 0 4px;
}

.stat-list-item {
  display: flex;
  justify-content: space-between;
}

.stat-list-item:hover {
  background-color: black;
  color: white;
}

.stat-list-item.selected {
  background-color: red;
}

@media (max-width: 960px) {
  .game {
    border: none;
    max-width: 100vw;
    max-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 2fr;
  }
  .card-list-item.player {
    margin-left: calc(6vw - 130px);
  }

  .card-list-item.opponent {
    margin-right: calc(6vw - 130px);
  }

  .card-list {
    max-width: 100vw;
    padding: 0 30vw;
  }
  .hand.opponent {
    grid-row: 1;
  }
  .hand.player {
    grid-row: 3;
  }

  .hand > h2 {
    align-self: center !important;
  }
}
