#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.center-area {
  text-align: center;
  align-self: center;
  min-width: 20vw;
}

.hand {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
}

.hand.player > h2 {
  align-self: end;
}

.card-list {
  display: flex;
  flex-direction: row-reverse;
  max-width: 40vw;
}

.card-list.player {
}

.card-list.opponent {
  direction: rtl;
}

.card-list-item {
}

.card-list-item.player {
  margin-left: calc(6vw - 150px);
  /* box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px; */
}

.card-list-item.opponent {
  margin-right: calc(6vw - 150px);
  direction: ltr;
  /* box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px; */
}

.play-button {
  width: 80px;
  height: 40px;
  align-self: center;
  font-size: larger;
  font-weight: bold;
}

.Card {
  width: 120px;
  height: 200px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #a58568;
  overflow: hidden;
}

.Card.back {
  background-color: #f1efe2;
}

.stat-list {
  padding: 0 4px;
}

.stat-list-item {
  display: flex;
  justify-content: space-between;
}

.stat-list-item:hover {
  background-color: black;
  color: white;
}

.stat-list-item.selected {
  background-color: red;
}

@media (max-width: 512px) {
  .game {
    flex-direction: column;
  }
}